nav{
  background-color:darkslategray;
    width: 100%;
    display: flex;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    top: 0%;
    justify-content: center;
    transform:none;
    gap:0.9rem;

    
 
}


nav a{

    background: transparent;
    padding:0.9rem;
    border-radius:  50%;
    color: var(--color-light);
    font-size: 1.1rem;
}




nav a.active{

    background:darkgray;
    color: var(--color-white);
    font-size: 1rem;
    
}

